/*     border: 1px solid rgb(70, 58, 58); */
/*     padding: 10px; */.post-area {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 95%;
            background-color: white;
            padding: 10px;
            box-sizing: border-box;
            display: none;
        }

        .back i{
            font-size: 1.5em;
            cursor: pointer;
        }

        .post-area label {
            width: 100%;
            display: block;
            text-align: center;
            background-color: rgba(128, 128, 128, 0.329);
            padding: 10px;
        }

        .post-area input[type=submit] {
            margin: 10px auto;
            padding: 10px;
            border: none;
            font-weight: bold;
        }

        .post-area label i {
            font-size: 1.5em;
        }

        .upload-post-area {
            background-color: rgba(0, 0, 0, 0.322);
            padding: 10px;
            width: 95%;
            border-radius: 10px;
            display: flex;
            margin: 10px auto;
        }

        .upload-post-area .profile {
            width: 60px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
        }

        .upload-post-area .profile img {
            width: 100%;
            height: 100%;
        }

        .upload-post-area .post-caption-area {
            margin: 10px;
        }

        .post-caption-area input {
            padding: 10px;
            border-radius: 20px;
            border: none;
        }

        /* post area */

        .posts {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .posts .post {
            margin: 10px;
            display: flex;
            flex-direction: column;
            background-color: rgb(218, 189, 189);
            padding: 10px;
            border-radius: 10px;
        }

        .post .detail {
            display: flex;
            margin: 10px;
        }

        .post .detail .profile {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            overflow: hidden;
            background-color: white;
        }

        .detail .profile img {
            width: 100%;
            height: 100%;
        }

        .detail .username {
            margin: 10px;
            font-size: 0.8em;
            font-weight: bold;
        }

        .post .caption {
            font-size: 0.8em;
            max-height: 80px;
            overflow: scroll;
            text-align: start;
        }

        .post .post-image {
            width: 90%;
        }

        .post .comments {
            border-top: 1px solid gray;
            text-decoration: underline;
            cursor: pointer;
        }

        .post .comment {
            display: flex;
            margin: 10px auto;
        }

        .post .comment .comment-input {
            width: 80%;
        }

        .comment-input input {
            padding: 5px;
            border-radius: 20px;
            border: none;
        }

        .post .comment .comment-submit-icon {
            width: 50px;
        }

        .comment-section {
            display: none;
            height: 100%;
            position: absolute;
            top: 0;
            background-color: white;
        }

        .comment-section .comment-display {
            height: 80%;
            overflow: scroll;
        }

        .comment-section .comment-display .comment {
            max-height: 150px;
            background-color: rgba(190, 180, 180, 0.589);
            width: 95%;
            border-radius: 10px;
            margin: 10px auto;
        }

        .comment-section .comment-display .comment .info {
            display: flex;
        }

        .comment .info .profile {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            margin: 10px;
        }

        .info .profile img {
            width: 100%;
            height: 100%;
        }

        .info .username {
            font-size: 0.7em;
            font-weight: bold;
        }

        .info .username .commented-date{
            font-weight: lighter;
        }

        .comment-section .comment-display .comment .text {
            font-family: monospace;
            padding: 10px;
            max-height: 200px;
            overflow: scroll;
            font-size: 0.9em;
        }

        .comment-section .comment-input-section {
            height: 10%;
            position: fixed;
            bottom: 0;
            display: flex;
            background-color: white;
            padding: 10px;
        }

        .comment-section .comment-input-section .comment-input {
            width: 80%;
        }

        .comment-section input {
            border: 1px solid rgb(70, 58, 58);
            padding: 10px;
        }

        .comment-section .comment-input-section .comment-submit-icon {
            width: 50px;
            margin: 10px;
            text-align: center;
        }