<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TD - Tulip Diary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css' )}}">
</head>

<body>
    <div class="upload-post-area">
        <div class="profile">
            <img src="{{ profile_uri }}" alt="profile" srcset="">
        </div>
        <div class="post-caption-area">
            <input type="text" name="caption" id="caption-btn" placeholder="What's on your mind?">
        </div>
    </div>

    <div class="posts">
        {% for post in posts %}
        <div class="post">
            <div class="detail">
                <div class="profile">
                    <img src="{{ post.profile_uri }}" alt="profile" srcset="">
                </div>
                <div class="username">{{ post.username }}</div>
            </div>
            {% if post.caption %}
            <div class="caption">{{ post.caption }}</div>
            {% endif %}
            {% if post.image_uri %}
            <div class="post-image">
                <img src="{{ post.image_uri }}" alt="">
            </div>
            {% endif %}
            <div class="comments" id="{{ post.post_id }}">Comments - <b><small>{{ post.comment_count }}</small></b></div>
            <div class="comment">
                <div class="comment-input">
                    <input type="text" name="comment" id="comment-text-{{ post.post_id }}" placeholder="Leave a comment..">
                </div>
                <div class="comment-submit-icon">
                    <i class="fa-regular fa-paper-plane" onclick="submitComment('{{post.post_id}}')"></i>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="comment-section" id="comment-section">
        <div class="back"><i class="fa-solid fa-xmark" onclick="back('comment-section')"></i></div>
        <div class="comment-display" id="comment-display">
            <!-- <div class="comment">
                <div class="info">
                    <div class="profile">
                        <img src="../static/images/post/Screenshot_2.png" alt="">
                    </div>
                    <div class="username">DomAK</div>
                </div>
                <div class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum modi itaque
                    pariatur,
                    odit ipsum magni unde asperiores error tenetur, sunt facere ut adipisci repudiandae eveniet
                    veritatis
                    voluptatum earum totam corporis.
                </div>
            </div> -->

            <!-- comments will appear here -->
        </div>
        <div class="comment-input-section">
            <div class="comment-input">
                <input type="text" name="comment" id="comment-text-in-section" placeholder="Leave a comment..">
            </div>
            <div class="comment-submit-icon">
                <i class="fa-regular fa-paper-plane" onclick="submitCommentInSection()"></i>
            </div>
        </div>
    </div>

    <div class="post-area">
        <div class="back"><i class="fa-solid fa-xmark" id="back"></i></div>
        <form id="uploadForm" enctype="multipart/form-data">
            <textarea name="caption" id="caption" cols="30" rows="5" placeholder="What's on your mind?"></textarea>
            <label for="image"><i class="fa-regular fa-image"></i></label>
            <input type="file" id="image" name="image" hidden>
            <input type="submit" value="Save" id="save">
        </form>
    </div>
</body>

</html>